/* @import "./base.css"; */

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
body {
  background-color: #303030;
  position: absolute;
  inset: 0;
  font-family: "Nunito", sans-serif;
  padding: 10px;
}
.card {
  background-color: rgba(255, 255, 255, 0.7);
}

.modal-input {
  border: 0 solid #b7b7b7;
  border-bottom-width: 3px;
  background: rgba(252, 252, 252, 0.5);
  border-radius: 0;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 100, "GRAD" 0, "opsz" 30;
}
.material-symbols-outlined:hover {
  cursor: pointer;
  font-variation-settings: "FILL" 1, "wght" 100, "GRAD" 0, "opsz" 30;
}
